In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("world.csv")
df

In [ ]:
df.index()

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187885 entries, 0 to 187884
Data columns (total 33 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              187885 non-null  int64
 1   iso_code        187885 non-null  object
 2   洲名              187885 non-null  object
 3   國家              187885 non-null  object
 4   日期              187885 non-null  object
 5   總確診數            187885 non-null  int64
 6   新增確診數           187885 non-null  int64
 7   七天移動平均新增確診數     187885 non-null  float64
 8   總死亡數            187885 non-null  int64
 9   新增死亡數           187885 non-null  int64
 10  七天移動平均新增死亡數     187885 non-null  float64
 11  每百萬人確診數         187885 non-null  float64
 12  每百萬人死亡數         187885 non-null  float64
 13  傳染率             187885 non-null  float64
 14  新增檢驗件數          187885 non-null  int64
 15  總檢驗件數           187885 non-null  int64
 16  每千人檢驗件數         187885 non-null  float64
 17  七天移動平均新增檢驗件數    187885 non-null  float64
 18  陽性率             187885 non-null  float64
 19  每確診案例相對檢驗數量     187885 non-null  float64
 20  疫苗總接種總劑數        187885 non-null  int64
 21  疫苗總接種人數         187885 non-null  int64
 22  疫苗新增接種劑數        187885 non-null  int64
 23  七天移動平均疫苗新增接種劑數  187885 non-null  float64
 24  每百人接種疫苗劑數       187885 non-null  float64
 25  每百人接種疫苗人數       187885 non-null  float64
 26  疫情控管指數          187885 non-null  float64
 27  總人口數            187885 non-null  int64
 28  中位數年紀           187885 non-null  float64
 29  70歲以上人口比例       187885 non-null  float64
 30  平均壽命            187885 non-null  float64
 31  解除隔離數           187885 non-null  int64
 32  解封指數            187885 non-null  float64
dtypes: float64(17), int64(12), object(4)
memory usage: 47.3+ MB

In [ ]:
data = df.reindex(columns = ["洲名","國家","日期","總確診數","新增確診數","總死亡數"])
data

In [ ]:
taiwan = data[data["國家"] == "台灣"]
taiwan

In [ ]:
taiwan1 = data[(data["國家"] == "台灣") & (data["新增確診數"] == 0)]
taiwan1

In [ ]:
taiwan2 = data.query('國家=="台灣" and 新增確診數==0')
taiwan2

In [34]:
max = data.query("國家 == '日本'")["新增確診數"].max()
data.query("國家 == '日本' and 新增確診數 == @max")

       洲名  國家          日期     總確診數   新增確診數   總死亡數
86369  亞洲  日本  2022-02-03  3019169  104345  19054

In [35]:
max = data.query("國家 == '美國'")["新增確診數"].max()
data.query("國家 == '美國' and 新增確診數 == @max")

         洲名  國家          日期      總確診數    新增確診數    總死亡數
177979  北美洲  美國  2022-01-10  61801347  1383887  841187

In [36]:
usa = data.query('國家=="美國"')
usa.query('日期<"2021" and 日期>="2020-06-01"')

         洲名  國家          日期      總確診數   新增確診數    總死亡數
177391  北美洲  美國  2020-06-01   1806079   17840  108522
177392  北美洲  美國  2020-06-02   1826169   20090  109496
177393  北美洲  美國  2020-06-03   1845325   19156  110508
177394  北美洲  美國  2020-06-04   1873259   27934  111503
177395  北美洲  美國  2020-06-05   1899699   26440  112382
...     ...  ..         ...       ...     ...     ...
177600  北美洲  美國  2020-12-27  19278647  135962  338373
177601  北美洲  美國  2020-12-28  19451948  173301  340262
177602  北美洲  美國  2020-12-29  19657920  205972  343854
177603  北美洲  美國  2020-12-30  19876215  218295  347743
177604  北美洲  美國  2020-12-31  20191301  315086  351039

[214 rows x 6 columns]

In [ ]:
import requests
import pandas as pd
url = "https://raw.githubusercontent.com/roberthsu2003/PythonForDataAnalysis/master/pandas%E7%9A%84%E5%9F%BA%E7%A4%8E%E5%8A%9F%E8%83%BD/%E5%90%84%E9%84%89%E9%8E%AE%E5%B8%82%E5%8D%80%E4%BA%BA%E5%8F%A3%E5%AF%86%E5%BA%A6.csv"
response = requests.get(url)
if response.status_code == 200:
    print("下載成功")
else:
    print("下載失敗")

In [ ]:
pd.read_csv("上市公司資料.csv")

In [ ]:
r = requests.get(url,stream = True)
with open('各鄉鎮市區人口密度.csv','wb') as fd:
    for chunk in r.iter_content(chunk_size=128):
        fd.write(chunk)

In [ ]:
df = pd.read_csv("各鄉鎮市區人口密度.csv")
df

In [ ]:
df.info()

In [ ]:
df.columns.loc[0]
df

In [ ]:
df1 = df.drop(0)
df1

In [ ]:
df1.tail(n=10)

In [ ]:
df1.iloc[-10:]

In [ ]:
df2 = df1.drop([371,372,373,374,375])
df2

In [81]:
df3 = df2.reindex(columns=['site_id','people_total','area'])
df3

    site_id people_total     area
1    新北市板橋區       551480  23.1373
2    新北市三重區       387484   16.317
3    新北市中和區       413590   20.144
4    新北市永和區       222585   5.7138
5    新北市新莊區       416524  19.7383
..      ...          ...      ...
366  連江縣北竿鄉         2360      9.9
367  連江縣莒光鄉         1624      4.7
368  連江縣東引鄉         1352      3.8
369    東沙群島           …      2.38
370    南沙群島           …    0.5045

[370 rows x 3 columns]

In [88]:
df4 = df3.rename(columns={'site_id':'區域別'})
df4

        區域別 people_total     area
1    新北市板橋區       551480  23.1373
2    新北市三重區       387484   16.317
3    新北市中和區       413590   20.144
4    新北市永和區       222585   5.7138
5    新北市新莊區       416524  19.7383
..      ...          ...      ...
366  連江縣北竿鄉         2360      9.9
367  連江縣莒光鄉         1624      4.7
368  連江縣東引鄉         1352      3.8
369    東沙群島           …      2.38
370    南沙群島           …    0.5045

[370 rows x 3 columns]

In [89]:
df4 = df3.rename(columns={'area':'土地面積'})
df4

    site_id people_total     土地面積
1    新北市板橋區       551480  23.1373
2    新北市三重區       387484   16.317
3    新北市中和區       413590   20.144
4    新北市永和區       222585   5.7138
5    新北市新莊區       416524  19.7383
..      ...          ...      ...
366  連江縣北竿鄉         2360      9.9
367  連江縣莒光鄉         1624      4.7
368  連江縣東引鄉         1352      3.8
369    東沙群島           …      2.38
370    南沙群島           …    0.5045

[370 rows x 3 columns]

In [78]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370 entries, 1 to 370
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   site_id  370 non-null    object
 1   人口數      370 non-null    object
 2   area     370 non-null    object
dtypes: object(3)
memory usage: 8.8+ KB

In [75]:
df4['人口數'][369] = '0'
df4['人口數'][370] = '0'

In [ ]:
df4['人口數'] = df4['人口數'].astype(int)
df4['area'] = df4['area'].astype(float)
df4.info()